:root{
    --white:#ececec;
    --red:#dd0d33;
    --darkRed:#9e0723;
    --orange:#df621c;
    --yellow:#e0b107;
    --darkYellow:#ac8805;
    --green:#799551;
    --blue:#0a77a2;
    --darkBlue:#055271;

    --primaryLight:#c7c2b8;
    --secondaryLight:#e4ddcf;

    --primaryDark:#323232;
    --secondaryDark:#404040;

    --bungee-font: Bungee, sans-serif;

    /* text shadows --might be removed */
    --blue-text-shadow:3px 3px var(--darkBlue);
    --red-text-shadow: 3px 3px var(--darkRed);
    --yellow-text-shadow: 3px 3px var(--darkYellow);


    --blue-box-shadow:6px 6px var(--darkBlue);
    --red-box-shadow: 6px 6px var(--darkRed);
    --yellow-box-shadow: 6px 6px var(--darkYellow);
    
    --dark-text-shadow: 4px 4px #00000050;

    --white-box-shadow: 0px 0px 10px 4px #ececec50;
}

/* Styles for light mode */
[data-theme="light"] {
    --primary-color: var(--primaryLight);
    --secondary-color: var(--secondaryLight);

    --primary-font-color: var(--primaryDark);
    --secondary-font-color:var(--secondaryDark);
    
}

/* Styles for dark mode */
[data-theme="dark"] {
    --primary-color: var(--primaryDark);
    --secondary-color: var(--secondaryDark);

    --primary-font-color: var(--primaryLight);
    --secondary-font-color: var(--secondaryLight);
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;

    background-color: var(--primary-color);
}

h2{
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: Cairo,sans-serif;
    font-weight:800 ;
    text-transform: uppercase;
}

h3{
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: Cairo,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}
 
p{
    color: var(--white);
    margin: 0;
    padding: 0 25px 25px 25px;
    font-family: Cairo,sans-serif;
    font-size: 20px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

button{
    margin:10px ;
    padding: 5px;
    border: none;
    border-radius: 15px;

    font-family: Cairo;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--primaryDark);
}

/* Global */
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container{
    padding: 50px 30px;
    min-height: 330px;
}

.title{
    font-size: 3em;
}

.text-shadow{
    text-shadow: var(--dark-text-shadow);
}

/* Logo CSS */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:95%;
    height: 95px;
    padding-bottom: 30px;
    position: relative;
}
.logo-piece{
    text-align: center;

    margin: 0;
    width: 100%;
    position: absolute;
    
    font-family: var(--bungee-font);
    font-size: 6vw;
    line-height: 150%;
    font-weight: 700;

    /* transform: translate(-50%, -50%); */

}
#logo1.logo-piece{
    text-shadow: 
        -2.5px -2.5px 0 #000,  
        2.5px -2.5px 0 #000,
        -2.5px 2.5px 0 #000,
        2.5px 2.5px 0 #000; 
    color: var(--white);
    z-index: 4;
    
    
}
#logo2.logo-piece{
    color:var(--blue);
    z-index: 3;
}
#logo3.logo-piece{
    color: var(--yellow);
    z-index: 2;
}
#logo4.logo-piece{
    color: var(--red);
    z-index: 1;
}


/* HERO */
.hero-container{
    padding: 100px 0px;

    display: flex;
    min-height: 200px;
    background-color: var(--primary-color);

    gap: 20px;
}

.hero-text{
    width: 50%;
}

.hero-text .subtitle{
    color: var(--primary-font-color);
}
.hero-cta{
    width: 50%;

    align-items: end;

    gap: 18px;
}

.cta-banner{
    padding: 7px 10px 7px 10px;
    border-radius: 15px 0px 0px 15px; 
}

.cta-banner:hover {
    transition: all .45s ease-out;
    opacity: 75%;
}

.red-cta, .yellow-cta, .blue-cta {
    animation: growFromZero 1s ease-out forwards;
}
.red-cta{
    width: 90%;
    background-color: var(--red);
    box-shadow: var(--red-box-shadow);
}
.yellow-cta{
    width: 95%;
    background-color: var(--yellow);
    box-shadow: var(--yellow-box-shadow);
}
.blue-cta{
    width: 100%;
    background-color: var(--blue);
    box-shadow: var(--blue-box-shadow);
}
.cta-banner h2{
    font-family: var(--bungee-font);
    line-height: 150%;
    font-weight: 400;
    padding-left: 30px;
    animation: growFromZero 1s ease-out forwards;
}

/* About */
.about-container{
    background-color: var(--darkRed);
}
.about-container p{
    padding: 0 25px 25px 25px;
}

/* Projects */
.project-container{
    background-color: var(--secondary-color);
}



.project-dropdown-collection{
    position: relative;
    height: calc(20vh + 20px)!important;
    width: 100%;
}

/* Title button */
.project-container h2.title{
    color: var(--primaryDark);
    margin: 20px;
}
.project-dropdown-button{
    background-color: var(--white);
    transition: all .45s ease-out;
    height: calc(20vh + 20px)!important;
    border: none;

    top: 0;
    z-index: 6;
}
.project-dropdown-button:hover,
.project-dropdown-button:hover .title {
    transition: all .45s ease-out;
    color: white;
}

.project-dropdown-button:hover {
    background-color: var(--primary-color);
    box-shadow: var(--white-box-shadow);
}

.project-dropdown-button:active {
    transform: scale(.95);
}

/* project frames */
.project-frame-dropdown{
    position: absolute;
    overflow: hidden;

    width: 100%;
    height: calc(20vh + 20px)!important;
    
    border-radius: 25px;
    
    top: 0;
}
.project-dropdown-frame{
    display: flex;
    border-radius: 25px;


    position: absolute;
    width: 100%;
    height: calc(60vh + 60px);
}
.project-dropdown-frame:nth-child(even) {
    flex-flow: row-reverse;
}

.blue{
    background-color: var(--blue);
    z-index: 5;
}

.green {
    background-color: var(--green);
    z-index: 4;
}

.yellow {
    background-color: var(--yellow);
    z-index: 3;
}

.orange {
    background-color: var(--orange);
    z-index: 2;
}

.red {
    background-color: var(--red);
    z-index: 1;
}

/* inside project frames */
.project-info{
    width: 65%;
}
.website-display{
    width: 45%;
}
.website-window{
    width: 90%;
    aspect-ratio: 16 / 9;
    background-color: red;
}
.project-dropdown-frame:nth-child(odd) .website-display .website-window {
    margin-right: 30px;
}
.project-dropdown-frame:nth-child(even) .website-display .website-window {
    margin-left: 30px;
}



/* Contact */
.contact-container{
    background-color: var(--darkBlue);
}
form {
    width: 100%;
}
.form-row{
    display: flex;
    width: 100%;
}

.form-row input{
    margin:10px ;
    padding: 10px;
    width: 100%;

    border: none;
    border-radius: 15px;

    box-shadow: var(--dark-text-shadow);

    font-family: Cairo;
    font-weight: 700;
    color: var(--primaryDark);

    background-color: var(--white);
}

.form-row input:focus-visible{
    outline: none;
}

form #message{
    height: 6rem;
}

form button{
    width: 60%;

    color: var(--white);
    text-shadow: 3px 3px #00000050;

    background-color: var(--yellow);
    box-shadow: var(--yellow-box-shadow);
    transition: all .25s ease-out;;
}

form button:hover{
    box-shadow: var(--white-box-shadow);
}
form button:active{
    background-color: var(--darkYellow);
    box-shadow: -6px -6px var(--yellow);
}

/* Footer */

footer h1{
    font-family: var(--bungee-font);
    font-size: 6vw;
    line-height: 150%;
    font-weight: 700;
    text-transform: none;
    color: var(--white);
    text-shadow: 
        -2.5px -2.5px 0 #000,  
        2.5px -2.5px 0 #000,
        -2.5px 2.5px 0 #000,
        2.5px 2.5px 0 #000,
        6px 4px 0 var(--blue),
        10px 8px 0 var(--yellow),
        14px 12px 0 var(--red); 
    margin-bottom: 0px!important;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 24px;

    font-size: 3rem;
    color: var(--secondary-color);    
}

footer p{
    font-size: 1rem;
    color: var(--secondary-color);
    align-items: flex-end;
    padding: 0;
}


@keyframes growFromZero {
    from {
        width: 0;
    }
}

/* Smaller */
@media only screen and (max-width: 800px){
    /* global */
    p{
        text-align: center;
        line-height: 1.5;
    }

    /* project */
    .project-dropdown-frame{
        flex-direction: column!important;
        justify-content: center;
        height: calc(80vh + 80px)
    }
    .project-info, .website-display{
        width: 100%;
    }
    .website-window{
        margin:20px 20px 40px 20px!important;
    }
    
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .container{
        min-height: 100vh;
    }

    /* logo */
    .logo-piece{
        font-size: 3em;
    }
    /* hero */
    .hero-container{
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        padding: 0;
    }
    .hero-text{
        padding-bottom: 25px;
    }
    .hero-cta, .hero-text{
        width: 100%;
    }

    .red-cta{
        width: 65%;
    }
    .yellow-cta{
        width: 70%;
    }
    .blue-cta{
        width: 75%;
    }



    /* about */
    
}