@font-face {
    font-family: 'Bungee';
    src: url('./src/assets/Fonts/Bungee-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cairo';
    src: url('./src/assets/Fonts/Cairo/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
}

:root{
    --white:#ececec;
    --red:#dd0d33;
    --darkRed:#9e0723;
    --orange:#df621c;
    --yellow:#e0b107;
    --darkYellow:#ac8805;
    --green:#799551;
    --blue:#0a77a2;
    --darkBlue:#055271;

    --primaryLight:#c7c2b8;
    --secondaryLight:#e4ddcf;

    --primaryDark:#323232;
    --secondaryDark:#404040;

    --bungee-font: Bungee, sans-serif;

    /* text shadows --might be removed */
    --blue-text-shadow:3px 3px var(--darkBlue);
    --red-text-shadow: 3px 3px var(--darkRed);
    --yellow-text-shadow: 3px 3px var(--darkYellow);


    --blue-box-shadow:6px 6px var(--darkBlue);
    --red-box-shadow: 6px 6px var(--darkRed);
    --yellow-box-shadow: 6px 6px var(--darkYellow);
    
    --dark-text-shadow: 4px 4px #00000050;
}

/* Styles for light mode */
[data-theme="light"] {
    --primary-color: var(--primaryLight);
    --secondary-color: var(--secondaryLight);

    --primary-font-color: var(--primaryDark);
    --secondary-font-color:var(--secondaryDark);
    
}

/* Styles for dark mode */
[data-theme="dark"] {
    --primary-color: var(--primaryDark);
    --secondary-color: var(--secondaryDark);

    --primary-font-color: var(--primaryLight);
    --secondary-font-color: var(--secondaryLight);
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;

    background-color: var(--primary-color);
}

h2{
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: Cairo,sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

h3{
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: Cairo,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}
 
p{
    color: var(--white);
    margin: 0;
    padding: 0 25px 25px 25px;
    font-family: Cairo,sans-serif;
    font-size: 20px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

/* Global */
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container{
    padding: 50px 30px;
}

.title{
    font-size: 45px;
}

.text-shadow{
    text-shadow: var(--dark-text-shadow);
}

/* Logo CSS */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:95%;
    height: 95px;
    padding-bottom: 30px;
    position: relative;
}
.logo-piece{
    text-align: center;

    margin: 0;
    width: 100%;
    position: absolute;
    
    font-family: var(--bungee-font);
    font-size: 5em;
    line-height: 150%;
    font-weight: 700;
    text-transform: none;

    transform: translate(-50%, -50%);
}
#logo1.logo-piece{
    text-shadow: 
        -2.5px -2.5px 0 #000,  
        2.5px -2.5px 0 #000,
        -2.5px 2.5px 0 #000,
        2.5px 2.5px 0 #000; 
    color: var(--white);
    z-index: 4;
}
#logo2.logo-piece{
    color:var(--blue);
    z-index: 3;
}
#logo3.logo-piece{
    color: var(--yellow);
    z-index: 2;
}
#logo4.logo-piece{
    color: var(--red);
    z-index: 1;
}


/* HERO */
.hero-container{
    padding: 100px 0px;

    display: flex;
    min-height: 200px;
    background-color: var(--primary-color);

    gap: 20px;
}

.hero-text{
    width: 50%;
}
.hero-cta{
    width: 50%;

    align-items: end;

    gap: 18px;
}

.cta-banner{
    padding: 7px 10px 7px 10px;
    border-radius: 15px 0px 0px 15px; 
}

.cta-banner:hover {
    transition: all .45s ease-out;
    opacity: 75%;
}

.red-cta, .yellow-cta, .blue-cta {
    animation: growFromZero 1s ease-out forwards;
}
.red-cta{
    width: 90%;
    background-color: var(--red);
    box-shadow: var(--red-box-shadow);
}
.yellow-cta{
    width: 95%;
    background-color: var(--yellow);
    box-shadow: var(--yellow-box-shadow);
}
.blue-cta{
    width: 100%;
    background-color: var(--blue);
    box-shadow: var(--blue-box-shadow);
}
.cta-banner h2{
    font-family: var(--bungee-font);
    line-height: 150%;
    font-weight: 400;
    padding-left: 30px;
    animation: growFromZero 1s ease-out forwards;
}

/* About */
.about-container{
    background-color: var(--darkRed);
    min-height: 330px;
}
.about-container p{
    padding: 0 25px 25px 25px;
}

/* Projects */
.project-container{
    background-color: var(--secondary-color);
}

.project-container h2.title{
    color: var(--primaryDark);
    margin: 20px;
}

.project-dropdown{
    background-color: var(--white);
    border-radius: 25px!important;
}

.project-dropdown-frame{
    width: 90%;
    border-radius: 0px 0px 25px 25px;
}

.project-info{
    width: 65%;
}


.blue{
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.yellow {
    background-color: var(--yellow);
}

.orange {
    background-color: var(--orange);
}

.red {
    background-color: var(--red);
}

/* .project-dropdown-frame:nth-child(even) {
    background-color: black;
  }
  
  .project-dropdown-frame:nth-child(odd) {
    background-color: white;
  } */


@keyframes growFromZero {
    from {
        font-size: 10px;
        width: 0;
    }
}

@media only screen and (max-width: 768px) {
    body{
        width: 100vw;
    }
    /* logo */
    .logo-piece{
        font-size: 3em;
    }
    /* hero */
    .hero-container{
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        padding: 0;
    }
    .hero-text{
        padding-bottom: 25px;
    }
    .hero-cta, .hero-text{
        width: 100%;
    }

    .red-cta{
        width: 65%;
    }
    .yellow-cta{
        width: 70%;
    }
    .blue-cta{
        width: 75%;
    }



    /* about */
    .about-container{
        min-height: 100vh;
    }

}